body {
    background-color: #FFFFFF;
    color: #555555;
}

header {
    background-color: #002171;
    color: #FFFFFF;
}

nav {
    background-color: #BBDEFB;
}


h1 {
    margin-bottom: 0;
}

h2 {
    color: #1976D2;
}

dt {
    color: #002171;

}

#contact {
    margin-bottom: 20px;
}

.resort {
    color: #1976D2;
}